<label class="question1">№1. Укажите, пожалуйста, ПЯТЬ наиболее острых проблем, требующих решения в первую очередь в Вашем населенном пункте (возможно несколько вариантов ответа):</label>
<fieldset>
    <div class="checkbox">
        <label><input class="checkbox" type="checkbox" name="questionnare[q1_problems][]" value="nehvatka_zhilya"/>Нехватка жилья</label>
    </div>
    <div class="checkbox">
        <label><input class="checkbox" type="checkbox" name="questionnare[q1_problems][]" value="roads"/>Качество дорог</label>
    </div>        
    <div class="checkbox">
        <label><input class="checkbox" type="checkbox" name="questionnare[q1_problems][]" value="vodka"/>Алкоголизм</label>
    </div>
    <div class="checkbox">
        <label><input class="checkbox" type="checkbox" name="questionnare[q1_problems][]" value="work"/>Безработица</label>
    </div>
    <div class="checkbox">
        <label><input class="checkbox" type="checkbox" name="questionnare[q1_problems][]" value="zkx"/>Состояние жилищно-коммунальной сферы</label>
    </div>
    <div class="checkbox">
        <label><input class="checkbox" type="checkbox" name="questionnare[q1_problems][]" value="medical_support"/>Качество медицинского обслуживания</label>
    </div>                                      
        <div class="checkbox">
        <label><input class="checkbox" type="checkbox" name="questionnare[q1_problems][]" value="prestupnost"/>Преступность</label>
    </div>
</fieldset>   