<label class="question2">№2. Выберите, пожалуйста, из ниже перечисленного списка не более ПЯТИ наиболее значимых для Вас ценностей: </label>
<div class="checkbox">
    <label><input class="checkbox" type="checkbox" name="questionnare[q2_worths][]" value="active_life"/>Активная, деятельная жизнь</label>
</div>
<div class="checkbox">
    <label><input class="checkbox" type="checkbox" name="questionnare[q2_worths][]" value="vital_wisdom"/>Жизненная мудрость</label>
</div>        
<div class="checkbox">
    <label><input class="checkbox" type="checkbox" name="questionnare[q2_worths][]" value="health"/>Здоровье</label>
</div>
<div class="checkbox">
    <label><input class="checkbox" type="checkbox" name="questionnare[q2_worths][]" value="beauty_of_nature_and_art"/>Красота природы и искусства</label>
</div>
<div class="checkbox">
    <label><input class="checkbox" type="checkbox" name="questionnare[q2_worths][]" value="interesting_work"/>Интересная работа</label>
</div>
<div class="checkbox">
    <label><input class="checkbox" type="checkbox" name="questionnare[q2_worths][]" value="love"/>Любовь</label>
</div>                                      
    <div class="checkbox">
    <label><input class="checkbox" type="checkbox" name="questionnare[q2_worths][]" value="friends"/>Наличие хороших и верных друзей</label>
</div>
<div class="checkbox">
    <label><input class="checkbox" type="checkbox" name="questionnare[q2_worths][]" value="financially_secure_life"/>Материально-обеспеченная жизнь</label>
</div>
<div class="checkbox">
    <label><input class="checkbox" type="checkbox" name="questionnare[q2_worths][]" value="зublic_acceptance"/>Общественное признание</label>
</div>        
<div class="checkbox">
    <label><input class="checkbox" type="checkbox" name="questionnare[q2_worths][]" value="сognition"/>Познание</label>
</div>
<div class="checkbox">
    <label><input class="checkbox" type="checkbox" name="questionnare[q2_worths][]" value="productive_life"/>Продуктивная жизнь</label>
</div>
<div class="checkbox">
    <label><input class="checkbox" type="checkbox" name="questionnare[q2_worths][]" value="growth"/>Развитие</label>
</div>
<div class="checkbox">
    <label><input class="checkbox" type="checkbox" name="questionnare[q2_worths][]" value="fun"/>Развлечения</label>
</div>                                      
    <div class="checkbox">
    <label><input class="checkbox" type="checkbox" name="questionnare[q2_worths][]" value="liberty"/>Свобода</label>
</div>           