<label>№3. Как Вы считаете, в населенном пункте, где Вы живете, достаточно возможностей, чтобы интересно проводить свободное время?</label></br>
<div class="radio-inline">
  <label><input type="radio" name="questionnare[q3_free_time]" value="Yes" required checked>Определенно да</label>
</div>
<div class="radio-inline">
  <label><input type="radio" name="questionnare[q3_free_time]" value="maybe_yes">Скорее да</label>
</div>
<div class="radio-inline">
  <label><input type="radio" name="questionnare[q3_free_time]" value="maybe_no">Скорее нет</label>
</div>
<div class="radio-inline">
  <label><input type="radio" name="questionnare[q3_free_time]" value="NO">Определенно нет</label>
</div>   