<label class="question4">№4. Что ДОПОЛНИТЕЛЬНО Вам нужно для того, чтобы интересно проводить свободное время? (не более трех ответов)</label>
<div class="checkbox">
    <label><input class="checkbox" type="checkbox" name="questionnare[q4_funs][]" value="fitness"/>Новый спортивный клуб</label>
</div>
<div class="checkbox">
    <label><input class="checkbox" type="checkbox" name="questionnare[q4_funs][]" value="more_cinema"/>Больше кинотеатров</label>
</div>        
<div class="checkbox">
    <label><input class="checkbox" type="checkbox" name="questionnare[q4_funs][]" value="new_parks"/>Новые парки, зеленые территории</label>
</div>
<div class="checkbox">
    <label><input class="checkbox" type="checkbox" name="questionnare[q4_funs][]" value="swimming_pool"/>Бассейн</label>
</div>
<div class="checkbox">
    <label><input class="checkbox" type="checkbox" name="questionnare[q4_funs][]" value="new_internet_club"/>Новый интернет-клуб</label>
</div>
<div class="checkbox">
    <label><input class="checkbox" type="checkbox" name="questionnare[q4_funs][]" value="new_night_clubs"/>Новые ночные клубы, бары</label>
</div>                                      
    <div class="checkbox">
    <label><input class="checkbox" type="checkbox" name="questionnare[q4_funs][]" value="new_cafe"/>Новые кафе, рестораны</label>
</div>
<div class="checkbox">
    <label><input class="checkbox" type="checkbox" name="questionnare[q4_funs][]" value="shops"/>Торгово-развлекательные комплексы</label>
</div>
<div class="checkbox">
    <label><input class="checkbox" type="checkbox" name="questionnare[q4_funs][]" value="almost_good"/>Ничего дополнительно не нужно, все есть</label>
</div>                