<label>№5. Как Вы оцениваете своё физическое здоровье?</label></br>
<div class="radio-inline">
  <label><input type="radio" name="questionnare[q5_phys_health]" value="good" required checked>Хорошее, скорее хорошее</label>
</div>
<div class="radio-inline">
  <label><input type="radio" name="questionnare[q5_phys_health]" value="no_good_no_bad">Ни хорошее, ни плохое</label>
</div>
<div class="radio-inline">
  <label><input type="radio" name="questionnare[q5_phys_health]" value="bad">Плохое, скорее плохое</label>
</div>