<label>№6. Как Вы оцениваете своё настроение, энергичность, жизненные силы?</label></br>
<div class="radio-inline">
  <label><input type="radio" name="questionnare[q6_moral_health]" value="good" required checked>Хорошее, скорее хорошее</label>
</div>
<div class="radio-inline">
  <label><input type="radio" name="questionnare[q6_moral_health]" value="no_good_no_bad">Ни хорошее, ни плохое</label>
</div>
<div class="radio-inline">
  <label><input type="radio" name="questionnare[q6_moral_health]" value="bad">Плохое, скорее плохое</label>
</div>