<label>№7. Есть ли у Вас вредные привычки?</label></br>
<div class="radio-inline">
  <label><input type="radio" name="questionnare[q7_bad]" value="Yes" required checked>Да, скорее да</label>
</div>
<div class="radio-inline">
  <label><input type="radio" name="questionnare[q7_bad]" value="No">Нет, скорее нет</label>
</div>