<label>Ваше образование в настоящее время:</label>
<div class="radio">
  <label><input type="radio" name="questionnare[education]" value="9classes" checked>Основное общее (9 классов)</label>
</div>
<div class="radio">
  <label><input type="radio" name="questionnare[education]" value="begin_professional">Начальное профессиональное (профессиональное училище, лицей)</label>
</div>   
<div class="radio">
  <label><input type="radio" name="questionnare[education]" value="middle_professional">Среднее профессиональное (техникум, колледж)</label>
</div>
<div class="radio">
  <label><input type="radio" name="questionnare[education]" value="not_ended_high">Незаконченное высшее (2 курса вуза)</label>
</div>
<div class="radio">
  <label><input type="radio" name="questionnare[education]" value="high">Высшее</label>
</div>
<div class="radio">
  <label><input type="radio" name="questionnare[education]" value="degree">Наличие ученой степени (кандидата или доктора наук)</label>
</div>