<label>Как Вы считаете, к какой категории, из перечисленных ниже, относится Ваша семья по уровню материального положения?</label>
<div class="radio">
  <label><input type="radio" name="questionnare[family]" value="high" required checked>Высоко обеспеченная</label>
</div>
<div class="radio">
  <label><input type="radio" name="questionnare[family]" value="above_average">Обеспеченная выше среднего</label>
</div>   
<div class="radio">
  <label><input type="radio" name="questionnare[family]" value="average">Обеспеченная на среднем уровне</label>
</div>
<div class="radio">
  <label><input type="radio" name="questionnare[family]" value="below_average">Обеспеченная ниже среднего</label>
</div>
<div class="radio">
  <label><input type="radio" name="questionnare[family]" value="low">Не обеспеченная самым необходимым</label>
</div>