<label>Укажите, пожалуйста, Ваш пол?</label></br>
<div class="radio-inline">
  <label><input type="radio" name="questionnare[free_time]" value="male" required checked>Мужской</label>
</div>
<div class="radio-inline">
  <label><input type="radio" name="questionnare[free_time]" value="female">Женский</label>
</div>   