<label>Ваше социально-профессиональное положение:</label></br></br>

<label>Учащийся (учащаяся), студент(ка), в том числе:</label>

<div class="radio">
  <label><input type="radio" name="questionnare[social]" value="student" required checked>Студент(ка) вуза</label>
</div>
<div class="radio">
  <label><input type="radio" name="questionnare[social]" value="college">Учащийся (учащаяся) техникума, колледжа</label>
</div>
<div class="radio">
  <label><input type="radio" name="questionnare[social]" value="ptu">Учащийся (учащаяся) ПТУ</label>
</div>
<div class="radio">
  <label><input type="radio" name="questionnare[social]" value="school">Учащийся (учащаяся) школы, гимназии</label>
</div>
<label>Работающие, в том числе:</label>
   
<div class="radio">
  <label><input type="radio" name="questionnare[social]" value="worker">Рабочий</label>
</div>
<div class="radio">
  <label><input type="radio" name="questionnare[social]" value="employee">Служащий (торговый, средний технический персонал)</label>
</div>   
<div class="radio">
  <label><input type="radio" name="questionnare[social]" value="specialist">Специалист</label>
</div>
<div class="radio">
  <label><input type="radio" name="questionnare[social]" value="department_head">Руководитель отдела, подразделения</label>
</div>
<div class="radio">
  <label><input type="radio" name="questionnare[social]" value="organization_head">Руководитель организации</label>
</div>
<div class="radio">
  <label><input type="radio" name="questionnare[social]" value="other">Другое:</label>
  <input type="text" name="questionnare[social_other]" class="form-control">
</div>           